<!--https://www.w3schools.com/howto/howto_js_autocomplete.asp-->

<!DOCTYPE html>
<html>

<%- include('../partials/header'); -%>

<head>
    <!-- css -->
    <link rel="stylesheet" href="/public/css/neutral-navbar.css">
	<link rel="stylesheet" href="/public/css/auto-complete-form.css">
	<link rel="stylesheet" href="/public/css/register-form.css">
</head>

<body>
	<%- include('../partials/navbar'); -%>
	<div class="login-form text-center">
		<% if (locals.match) { %>
			<h1>Update Match</h1>
		<% } else { %>
			<h1>Add Match</h1>
		<% } %>
		<form action="/admin/match" method="POST" autocomplete="off">
			<div class="autocomplete" style="width:300px;">
				<input id="home_team" type="text" name="home_team" placeholder="Home Team"<% if (locals.match) { %>
					value=<%= match.home_team %>
				<% } %> required>
				<input id="away_team" type="text" name="away_team" placeholder="Away Team"<% if (locals.match) { %>
					value=<%= match.away_team %>
				<% } %> required>
				<input id="time" type="datetime-local" name="time" placeholder="Time"<% if (locals.match) { %>
					value=<%= match.time.split(" ").join("T") %>
				<% } %> required>
				<input id="in_tournament" type="text" name="in_tournament" placeholder="Tournament"<% if (locals.match) { %>
					value=<%= match.in_tournament %>
				<% } %>>
			</div>
			<button type="submit"><% if (locals.match) { %>
				Update
			<% } else { %>
				Add
			<% } %></button>
			<a href="/admin" style="float:right">Go back to admin panel</a>
		</form>
		<br>
		<p>Current number of matches: <%= matchCount %></p>
	</div>

	<script src="/public/js/auto-complete-form.js"></script>
	<script>
		let teams = <%- teams %>
		let tournaments = <%- tournaments %>
		autocomplete(document.getElementById("home_team"), teams);
		autocomplete(document.getElementById("away_team"), teams);
		autocomplete(document.getElementById("in_tournament"), tournaments);
	</script>
</body>

</html>