<!DOCTYPE html>
<html>

<%- include('../partials/header'); -%>

<head>
    <!-- css -->
    <link rel="stylesheet" href="/public/css/tahmin-et.css">
    <link rel="stylesheet" href="/public/css/neutral-navbar.css">
</head>

<body>
	<%- include('../partials/navbar'); -%>
	<br>
    <% if (matches.length == 0) { %>
        <p style="text-align: center;">No upcoming matches.</p>
    <% } %>
    <% for (var i = 0; i < matches.length; i++) { %>
        <!-- predict -->
        <div class="predict-match">
            <%- include('../partials/predict', { match: matches[i] }); -%>
            <div class="tahmin-et-buton"> <a href=<%= "/admin/score/" + matches[i].id %>>Gerçek Skoru Gir</a> </div>
        </div>
        <!-- predict-end -->
        <!-- tiny-predict -->
        <div class="tiny-predict-match">
            <%- include('../partials/tiny-predict', { match: matches[i] }); -%>
            <div class="tiny-predict-match-second-row">
                <div class="tiny-tahmin-et-buton"> <a href=<%= "/admin/score/" + matches[i].id %>>Gerçek Skoru Gir</a> </div>
            </div>
        </div>
        <!-- tiny-predict-end -->
    <% } %>
</body>

</html>