<!DOCTYPE html>
<html lang="en">

<%- include('../partials/header'); -%>

<head>
    <!-- css -->
    <link rel="stylesheet" href="/public/css/neutral-navbar.css">
	<link rel="stylesheet" href="/public/css/tahmin-et-form.css">
</head>

<body>
	<%- include('../partials/navbar'); -%>

	<!-- predict-form -->
    <form  action=<%= "/admin/score/" + match.id %> method="POST" autocomplete="off">
		<div class="predict-match-form">
			<div class="predict-match-form-first-row">
				<div class="ilk-yari">İlk Yarı</div>
				<div class="iy">İY</div>
				<div class="home-team"><%= match.home_team %> <span class="hide-300">&nbsp</span> <img src=<%= match.home_team_logo %> alt=""></div>
				<div class="home-first-half-prediction"><input class="score-input" type="number" name="home_first_half" required></div>
				<div class="line">-</div>
				<div class="away-first-half-prediction"><input class="score-input" type="number" name="away_first_half" required></div>
				<div class="away-team"><img src=<%= match.away_team_logo %> alt=""> <span class="hide-300">&nbsp</span> <%= match.away_team %></div>
			</div>
			<div class="predict-match-form-second-row">
				<div class="mac-sonu">Maç Sonu</div>
				<div class="ms">MS</div>
				<div class="home-team"><%= match.home_team %> <span class="hide-300">&nbsp</span> <img src=<%= match.home_team_logo %> alt=""></div>
				<div class="home-full-time-prediction"><input class="score-input" type="number" name="home_full_time" required></div>
				<div class="line">-</div>
				<div class="away-full-time-prediction"><input class="score-input" type="number" name="away_full_time" required></div>
				<div class="away-team"><img src=<%= match.away_team_logo %> alt=""> <span class="hide-300">&nbsp</span> <%= match.away_team %></div>
			</div>
		</div>
		<input class="submit-btn" type="submit" value="Kaydet">
	</form>
	<!-- predict-form-end -->
</body>

</html>