<!DOCTYPE html>
<html>

<%- include('header'); -%>

<head>
    <!-- css -->
    <link rel="stylesheet" href="/public/css/tahmin-et.css">
    <link rel="stylesheet" href="/public/css/neutral-navbar.css">
</head>

<body>
	<%- include('navbar'); -%>
	<br>
    <% if (matches.length == 0) { %>
        <p style="text-align: center;">No upcoming matches.</p>
    <% } %>
    <% for (var i = 0; i < matches.length; i++) { %>
	<!-- predict -->
    <div class="predict-match">
        <div class="match-time"><%= matches[i].time.split()[0] %> <br> <%= matches[i].time.split()[1] %></div>
        <div class="teams">
            <!-- home-team --> <%= matches[i].home_team %> &nbsp <img src=<%= matches[i].home_team_logo %> alt="">
            &nbsp &nbsp - &nbsp &nbsp
            <!-- away-team --> <img src=<%= matches[i].away_team_logo %> alt=""> &nbsp <%= matches[i].away_team %>
        </div>
        <div class="tahmin-et-buton"> <a href=<%= "/tahmin-et/" + matches[i].id %>>Tahmin Et</a> </div>
        <div class="tahminleri-gör-buton"> <a href="">Tahminleri Gör</a> </div>
    </div>
    <!-- predict-end -->

    <!-- tiny-predict -->
    <div class="tiny-predict-match">
        <div class="tiny-predict-match-first-row">
            <div class="tiny-match-time"><%= matches[i].time.split()[0] %> <br> <%= matches[i].time.split()[1] %></div>
            <div class="tiny-teams">
                <!-- home-team --> <%= matches[i].home_team %> &nbsp <img src=<%= matches[i].home_team_logo %> alt="">
                &nbsp - &nbsp
                <!-- away-team --> <img src=<%= matches[i].away_team_logo %> alt=""> &nbsp <%= matches[i].away_team %>
            </div>
        </div>
        <div class="tiny-predict-match-second-row">
            <div class="tiny-tahmin-et-buton"> <a href=<%= "/tahmin-et/" + matches[i].id %>>Tahmin Et</a> </div>
        <div class="tiny-tahminleri-gör-buton"> <a href="">Tahminleri Gör</a> </div>
        </div>
    </div>
    <!-- tiny-predict-end -->
    <% } %>
</body>

</html>