<!DOCTYPE html>
<html>

<%- include('partials/header'); -%>

<head>
    <!-- css -->
    <link rel="stylesheet" href="/public/css/tahmin-et.css">
    <link rel="stylesheet" href="/public/css/neutral-navbar.css">
</head>

<body>
	<%- include('partials/navbar'); -%>
	<br>
    <% if (matches.length == 0) { %>
        <p style="text-align: center;">No upcoming matches.</p>
    <% } %>
    <% for (var i = 0; i < matches.length; i++) { %>
        <!-- predict -->
        <div class="predict-match">
            <%- include('partials/predict', { match: matches[i] }); -%>
            <% if (new Date(matches[i].time) - 3600000 < new Date()) { %>
                <div class="tahminleri-gör-buton"> <a>Tahmin Et</a> </div>
            <% } else { %>
                <div class="tahmin-et-buton"> <a href=<%= "/tahmin-et/" + matches[i].id %>>Tahmin Et</a> </div>
            <% } %>
        </div>
        <!-- predict-end -->
        <!-- tiny-predict -->
        <div class="tiny-predict-match">
            <%- include('partials/tiny-predict', { match: matches[i] }); -%>
            <div class="tiny-predict-match-second-row">
                <% if (new Date(matches[i].time) - 3600000 < new Date()) { %>
                    <div class="tahminleri-gör-buton"> <a>Tahmin Et</a> </div>
                <% } else { %>
                    <div class="tahmin-et-buton"> <a href=<%= "/tahmin-et/" + matches[i].id %>>Tahmin Et</a> </div>
                <% } %>
            </div>
        </div>
        <!-- tiny-predict-end -->
    <% } %>
</body>

</html>