<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/header'); -%>

    <!-- css -->
    <link rel="stylesheet" href="/public/css/user.css">
    <link rel="stylesheet" href="/public/css/neutral-navbar.css">
</head>

<body>
    <%- include('partials/navbar'); -%>
    <!-- user -->
    <h1><%= username %></h1>
    <br>
    <% if(self) { %>
        <div class="buttons">
            <div class="button"><a href="/account/change_password">Şifre Değiştir</a></div>
            <div class="button"><a href="/account/change_username">Kullanıcı Adı Değiştir</a></div>
            <div class="button"><a href="/account/logout">Çıkış Yap</a></div>
        </div>
    <% } %>
    <!-- user-end -->

    <!-- user-predictions -->
    <table class="user-predictions">
        <thead>
            <tr>
                <th></th>
                <th>Tahmin</th>
                <th>Gerçek Skor</th>
                <th>Puan</th>
            </tr>
        </thead>
        <tbody>
            <% for (var i = 0; i < guesses.length; i++) { %>
            <tr>
                <td class="iy-ms">İY <br> MS </td>
                <%- include('partials/finished-match', {
                    home_team: guesses[i].home_team,
                    away_team: guesses[i].away_team,
                    home_team_logo: guesses[i].home_team_logo,
                    away_team_logo: guesses[i].away_team_logo,
                    iy_home: guesses[i].home_goals_first_half,
                    iy_away: guesses[i].away_goals_first_half,
                    ms_home: guesses[i].home_goals_full_time,
                    ms_away: guesses[i].away_goals_full_time,
                    show: guesses[i].show,
                }); -%>
                <%- include('partials/finished-match', {
                    home_team: guesses[i].home_team,
                    away_team: guesses[i].away_team,
                    home_team_logo: guesses[i].home_team_logo,
                    away_team_logo: guesses[i].away_team_logo,
                    iy_home: guesses[i].real_home_first,
                    iy_away: guesses[i].real_away_first,
                    ms_home: guesses[i].real_home_full,
                    ms_away: guesses[i].real_away_full,
                    show: true,
                }); -%>
                <td class="points-column"><%= guesses[i].points_earned %></td>
            </tr>
            <% } %>
        </tbody>
    </table>
    <!-- user-predictions-end -->
</body>